identity.key
secret.key
.owner
plugins
Workspace clean-up.log
*.swp
*.swp
*.swo
*.swn
*.hi
*.o
*~
*.bak
*.swp
*.o
*.aux
*.log
*.out
report/.nfs000000*
.DS_Store
*#*#
*.class
.goutput*
.bash_history
/hamlet
/shakespeare
/persistent
/wai
/yesod
.ghc
.cabal
build.xml
changelog.xml
log
.*
temp_arash
