<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>cra+code</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>FUFIKm6T00SOlakhjXF9HeGz61+pZst3OR46YmjORYomiRU82T1GaSyjIGURuHQw</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>cra+code@cra.no</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>