<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>pa.aronsson</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>jZact5t+5or+XXPodP/hU11RQPrnjsP5uzcUDJAnaVomiRU82T1GaSyjIGURuHQw</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>pa.aronsson@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>