<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>greg</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>7oV8UvsBJHws44GU/BWe4dERw9XnwYNapfzgU/rmXnVU5gbrSP5fhJq7/ss7FzTlzf3+BSX44yBPRWa9y//kwCaJFTzZPUZpLKMgZRG4dDA=</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>greg@gregweber.info</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>